.container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pageInput {
    all: unset;
    width: 40px;
    text-align: center;
}

.minus, .plus {
    cursor: pointer;
    font-size: 30px;
}

.minus {
    margin-right: 5px;
    width: 30px;
}
.plus {
    margin-left: 5px;
    width: 30px;

}